<body>
  <h1>Who we are</h1>

  <p>
    At Bduget'N, we make it possible to put all you bills in the
    front of your screen. Created my 2 students at Bridgewater
    State University, this system was first made for the purpose
    of keeping up with the debt of student loans.
  </p>
</body>
<style >
  body{
    background: rgb(255, 206, 96);
  }
  h1{
    text-align: center;
  }
  p{
    width: 50%;
  }
</style>
